@import "fonts.css";

#noticetext h1 {
  font-family: SmashUltrabold;
  font-size: 7em;
  margin: 0px;
  margin-top: -0.3em;
  margin-bottom: -0.5em;
}

#noticetext {
  background-color: #B7C5CE;
}

.filter_table {
  border-collapse: collapse;
  width: 100%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.filter_table th,
.filter_table td {
  padding: 12px;
  text-align: left;
  border: 3px solid black;
  box-shadow: 1px 1px 0px rgba(0, 0, 0, 1);
  font-family: SmashBold;
}


.filter_table th {
  background-color: #FFC700;
  color: black;
  text-align: center;
}


.filter_table tr:nth-child(even) {
  background-color: #f2f2f2;
}


.filter_table tr:hover {
  background-color: #ddd;
}


.filter_table tr:hover td {
  transition: background-color 0.3s ease;
}

.filter_table a {
  color: #0366d6;
  text-decoration: none;
}

.filter_table a:hover {
  text-decoration: underline;
}

@media only screen and (max-width: 768px) {
  .filter_table {
      font-size: 14px;
  }
}
